.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-right: 0;
}

span{
    font-size: 30px;
    font-family: f;
}
