.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-right: 0;
}

span{
    font-size: 30px;
    font-family: f;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: grey;
    margin: 30px;
}

a:hover{
    color: rgb(67, 111, 254);
    text-shadow: 50px 50px 55px rgb(67, 111, 254);
}
