<div class="main">
    <div class="motto highlight">
        CODING YOUR IDEAS <span [ngStyle]="{'opacity': flashing?'100%':'0'}">_</span>
    </div>
    <div class="text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid expedita, a beatae porro quibusdam minima maiores delectus distinctio nisi neque fugiat, atque illum. Quidem provident iure quod magni consequatur mollitia.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque delectus fuga quia libero natus officiis laudantium facere blanditiis expedita, dolore, voluptates tempore. Consequatur veniam voluptatibus accusamus dicta officia ratione quis tenetur assumenda reprehenderit cum reiciendis at maxime dolores sequi maiores laborum, facilis amet, nihil sed. Architecto totam culpa id enim molestiae veniam a repellat dolorem. Cumque iste omnis voluptas minus, excepturi alias autem nemo deleniti laudantium nobis doloremque ipsam a esse, doloribus deserunt atque cupiditate blanditiis necessitatibus. Quod ullam, voluptate harum rerum minus a cum aut, pariatur eum exercitationem ipsam ut nam deleniti obcaecati. Error beatae est numquam itaque!
    </div>
    <span class="h highlight">Our clients</span>
    <div class="clients">
        OVDE IDU LOGOI KLIJENATA
    </div>
</div>



