.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin:0;
    padding-right: 0;
}


.text{
    width: 55%;
    margin-bottom: 30px;
    margin-top:20px;
    text-align: center;
    padding: 20px;


}

.clients{
    width: 100%;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.h{
    font-size: 15px;
    font-family: f;
}

img{
    height: 85px;
}

span{
    font-size: 30px;
    font-family: f;
}
