<div class="main">


    <div class="clients">
        <img src="../../../assets/metalac.png">
        <img src="../../../assets/messer.png">
        <img src="../../../assets/status.png">
        <img src="../../../assets/austro.png">
        <img src="../../../assets/mich.png">
    </div>
    <div class="text">
        <i></i>
        <i></i>
        <i></i>
        <span class="highlight">ABOUT US</span><br>
        We are the team of young IT/automation engineers using innovative methods combined with best practices to give our
        clients the technical advantage to run their operation effectively. We develop software for various industries:
        from steel, mining, and food production to business and entertainment.
        We are highly motivated. We are careful and responsible. We are attentive learners. We are NaissDev!
    </div>
</div>



