footer{
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 111, 254);
    color: black;
    font-size: 15px;
    font-family: f;
}