.carousel{
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top: 300px;
    margin-bottom: 300px;
  
  }
  .carousel::after{
    content:' ';
    display: block;
    clear: both;
  }
  
  .carousel>div{
    float:left;
    margin-right:-100%;
    cursor:pointer;
    transform-origin: top left;
  }
  
  .carousel>div img {
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)
  }