.bar{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    padding-right: 0;
    margin:0;
}

.options{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: 40%;
}

.button-nagivate{
    padding: 12px 12px 12px 12px;
    transition: 0.5s ease-in-out;
}

.button-nagivate:hover{
    cursor: pointer;
    color:blue;
}


.motto{
    margin-bottom: 30px;
    font-size: 50px;
    font-family: f;
    align-self: center;
    justify-self: center;
    margin-top: 130px;
    opacity:0;
    transition: 2s ease-in-out;
}

.cont{
    width: 100%;
    height: 77vh;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/banner.png);
    background-size: cover;
    background-position: center;
}

.logo{
    opacity:0;
    transition: 1s ease-in-out;
}
img{
    width: 100px;
}
    