.services{
    width: 100%;
    margin-top:30px;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 30px;
    font-family: f;
}