.services{
    width: 100%;
    margin-top:30px;
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

span{
    font-size: 30px;
    font-family: f;
}

.kartice{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    height: 200px;
}

.icons{
    display: flex;
    width: 100%;
    justify-content: center;
}

img{
    height: 70px;
    transition: 500ms ease-in-out;
}

.img{
    height: 50px;
    width: 70px;
    color: white;
    background-color: rgb(154, 154, 154);
    text-align: center;
    padding-top:30%;
    font-size: larger;
    font-weight: bolder;
    transition: 500ms ease-in-out;
}

figure{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

figcaption{
    text-align: center;
}

.plc{
    font-size: x-large;
}

img:hover{
    background-color: rgb(136, 164, 255);
}

ul{
    list-style-type: square;
    text-align: left;
    margin-left: 35%;
}


@media only screen and (orientation: portrait){
    .kartice{
        width: 100%;
        margin-bottom: 50vh;
    }
}