.bar{
    width:100%;
    height: 75px;
    min-height: fit-content;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #d38d14;
    padding: 10px;
    padding-right: 0;
    margin:0;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.options{
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    justify-content: space-evenly;
}

.button-nagivate{
    padding: 12px 12px 12px 12px;
    transition: 0.5s ease-in-out;
}

.button-nagivate:hover{
    border-radius: 50%;
    background-color: #d38d14;
    cursor: pointer;
}
    