/* You can add global styles to this file, and also import other style files */
html{
    min-width: 100%;
    margin:0 auto;
    padding:0;
    overflow-x: hidden;
}

body{
    min-width: 100%;
    background-color: white;
    color:black;
    margin:0 auto;
    padding:0;
    font-family: g;
    display: flex;
}

.highlight{
    color: rgb(67, 111, 254);
}



@font-face {
    font-family: "f";
    src: url(./assets/Orbitron-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "g";
    src: url(./assets/general.ttf) format("truetype");
}